.toolbar-header {
    width: 100%;
    background-color: rgb(118, 118, 118);
    height: auto;
}

.toolbar-items {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.toolbar-items h2 {
    font-family: 'Monoton', cursive;
    font-size: 4em;
    padding-top: 3%
}

.toolbar-items a {
    color: black;
}

.toolbar-items-info {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.toolbar-items-info p {
    font-size: 1.2em;
}

.toolbar-search {
    transition: all .5s ease-in;
    margin: 0;
}

.toolbar-search:hover {
    color: rgb(196, 196, 196);
    cursor: pointer;
}
